if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L/bdXd1GBh+HB7JTDpSBwwvgF6J9XHJ5ST0M="
fi

use flake

# Watch these files for changes
watch_file flake.nix
watch_file flake.lock
watch_file rust-toolchain.toml
watch_file modules/lists/packages.nix
watch_file modules/shells/default.nix
watch_file Cargo.toml
watch_file Cargo.lock 